In [1]:
#list of item
items = [23,67,'apple','banana',True,'banana',45,3]
print(items)

[23, 67, 'apple', 'banana', True, 'banana', 45, 3]

In [2]:
#Tuple of item
items = (23,67,'apple','banana',True,45,3)
print(items)

(23, 67, 'apple', 'banana', True, 45, 3)

In [5]:
#Set of item
items = {23,67,'banana','apple',True,45.3,'banana'}
print(items)

{True, 'banana', 67, 'apple', 23, 45.3}

In [4]:
#Dictionary 
student = {
    "name" : "Sam",
    "age" : 23,
    "gnder" : "male",
    "address" : "123 main st",
}
print(student)

{'name': 'Sam', 'age': 23, 'gnder': 'male', 'address': '123 main st'}

In [5]:
a = 2356.76656
type(a)

float

There are two ways to take input
- Direct assigning values in a variable 
- Taking input from the usre

In [6]:
a = "hello"
print(a)

hello

In [7]:
a = input("Enter a number")
print(a)

25

In [8]:
type(a)

str

In [9]:
a = input("Enter a number")
b = input("Enter another number:")
a1 = int(a) #type costing - convert string to integer
b1 = int(b)
print(a1+b1)

99

In [10]:
a = int(input("Enter a number"))
print(a)

54

In [11]:
name = ("sameer verma")
print(name)

sameer verma

In [14]:
poem = '''twinkle twinkle little star
how I wonder what you are 
up above the world high
like a diamond in the sky'''
print(poem)

twinkle twinkle little star
how I wonder what you are
up above the world high
like a diamond in the sky

In [3]:
name = "sameer verma"
print(name)

sameer verma