In [1]:
#list of item
items = [23,67,'apple','banana',True,'banana',45,3]
print(items)

[23, 67, 'apple', 'banana', True, 'banana', 45, 3]

In [2]:
#Tuple of item
items = (23,67,'apple','banana',True,45,3)
print(items)

(23, 67, 'apple', 'banana', True, 45, 3)

In [3]:
#Set of item
items = {23,67,'banana','apple',True,45.3,'banana'}
print(items)

{True, 'apple', 67, 'banana', 23, 45.3}

In [4]:
#Dictionary 
student = {
    "name" : "Sam",
    "age" : 23,
    "gnder" : "male",
    "address" : "123 main st",
}
print(student)

{'name': 'Sam', 'age': 23, 'gnder': 'male', 'address': '123 main st'}

In [5]:
a = -23567.6656
type(a)

float

There are two ways to take input
- Direct assigning values in a variable 
- Taking input from the usre

In [6]:
a = "hello"
print(a)

hello

In [7]:
a = input("Enter a number")
print(a)

25

In [8]:
type(a)

str

In [9]:
a = input("Enter a number")
b = input("Enter another number:")
a1 = int(a) #type costing - convert string to integer
b1 = int(b)
print(a1+b1)

107

In [10]:
a = int(input("Enter a number"))
print(a)

55

In [11]:
name = ("sameer verma")
print(name)

sameer verma

In [12]:
poem = '''twinkle twinkle little star
how I wonder what you are 
up above the world high
like a diamond in the sky'''
print(poem)

twinkle twinkle little star
how I wonder what you are
up above the world high
like a diamond in the sky

In [13]:
name = "sameer verma"
print(name)

sameer verma

In [14]:
for x in range(1, 21, 3):
    print(x)

1
4
7
10
13
16
19

In [15]:
for i in range (2, 22, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [16]:
for i in range(2, 22, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [17]:
for i in range(1, 11):
    print(15,'*','i','=', 15*i)

15 * i = 15
15 * i = 30
15 * i = 45
15 * i = 60
15 * i = 75
15 * i = 90
15 * i = 105
15 * i = 120
15 * i = 135
15 * i = 150

In [18]:
for i in range(5, 11):
    for j in range(1,11):
        print(i, "x", j, "=", i*j)
        print("\n")

5 x 1 = 5


5 x 2 = 10


5 x 3 = 15


5 x 4 = 20


5 x 5 = 25


5 x 6 = 30


5 x 7 = 35


5 x 8 = 40


5 x 9 = 45


5 x 10 = 50


6 x 1 = 6


6 x 2 = 12


6 x 3 = 18


6 x 4 = 24


6 x 5 = 30


6 x 6 = 36


6 x 7 = 42


6 x 8 = 48


6 x 9 = 54


6 x 10 = 60


7 x 1 = 7


7 x 2 = 14


7 x 3 = 21


7 x 4 = 28


7 x 5 = 35


7 x 6 = 42


7 x 7 = 49


7 x 8 = 56


7 x 9 = 63


7 x 10 = 70


8 x 1 = 8


8 x 2 = 16


8 x 3 = 24


8 x 4 = 32


8 x 5 = 40


8 x 6 = 48


8 x 7 = 56


8 x 8 = 64


8 x 9 = 72


8 x 10 = 80


9 x 1 = 9


9 x 2 = 18


9 x 3 = 27


9 x 4 = 36


9 x 5 = 45


9 x 6 = 54


9 x 7 = 63


9 x 8 = 72


9 x 9 = 81


9 x 10 = 90


10 x 1 = 10


10 x 2 = 20


10 x 3 = 30


10 x 4 = 40


10 x 5 = 50


10 x 6 = 60


10 x 7 = 70


10 x 8 = 80


10 x 9 = 90


10 x 10 = 100

In [19]:
i = 1
while (i<=5):
    print(i)
    i += 1

1
2
3
4
5

In [20]:
i = 2
while i<=20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [1]:
#list of item
items = [23,67,'apple','banana',True,'banana',45,3]
print(items)

[23, 67, 'apple', 'banana', True, 'banana', 45, 3]

In [21]:
count = 1
while count <=10:
    print('sameer verma')
    count += 1

sameer verma
sameer verma
sameer verma
sameer verma
sameer verma
sameer verma
sameer verma
sameer verma
sameer verma
sameer verma

In [22]:
i = 1 
while i <= 10:
    print(15,'*','i','=', 15*i)
    i += 1

15 * i = 15
15 * i = 30
15 * i = 45
15 * i = 60
15 * i = 75
15 * i = 90
15 * i = 105
15 * i = 120
15 * i = 135
15 * i = 150

In [23]:
i = 1 
while i <= 20:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19

- Break and Continue

In [24]:
fruits = ['orange', 'apple', 'pear', 'banana', 'ladyfinger', 'kiwi',]
for x in fruits:
    if x == 'ladyfinger':
        break
    print(x)

orange
apple
pear
banana

In [25]:
fruits = ['orange', 'apple', 'pear', 'banana', 'ladyfinger', 'kiwi',]
for x in fruits:
    if x == 'ladyfinger':
        continue 
    print(x)

orange
apple
pear
banana
kiwi

In [26]:
i = 1 
while i <= 10:
    print(15,'*','i','=', 15*i)
    i += 1

15 * i = 15
15 * i = 30
15 * i = 45
15 * i = 60
15 * i = 75
15 * i = 90
15 * i = 105
15 * i = 120
15 * i = 135
15 * i = 150

In [29]:
for i in range(8, 11):
    for j in range(1,11):
        print(i, "x", j, "=", i*j)
        print("\n")

8 x 1 = 8


8 x 2 = 16


8 x 3 = 24


8 x 4 = 32


8 x 5 = 40


8 x 6 = 48


8 x 7 = 56


8 x 8 = 64


8 x 9 = 72


8 x 10 = 80


9 x 1 = 9


9 x 2 = 18


9 x 3 = 27


9 x 4 = 36


9 x 5 = 45


9 x 6 = 54


9 x 7 = 63


9 x 8 = 72


9 x 9 = 81


9 x 10 = 90


10 x 1 = 10


10 x 2 = 20


10 x 3 = 30


10 x 4 = 40


10 x 5 = 50


10 x 6 = 60


10 x 7 = 70


10 x 8 = 80


10 x 9 = 90


10 x 10 = 100

In [33]:
for i in range(1, 11):
    print(24,'*','i','=', 24*i)
    i += 1

24 * i = 24
24 * i = 48
24 * i = 72
24 * i = 96
24 * i = 120
24 * i = 144
24 * i = 168
24 * i = 192
24 * i = 216
24 * i = 240